* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
}

/* Nguyên tác làm việc từ trên xuống dưới từ ngoài vào trong */

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc 
4. Kiểu dáng (Kiểu chữ, hình dáng)
 */
.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

#wrapper {}

#header {
    --headerheghit: 46px;
    height: var(--headerheghit);
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#nav {
    display: inline-block;
}

#nav {
    position: relative;
}

#nav li,
.subnav li {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav>li>a {
    color: #fff;
    text-decoration: none;
    line-height: var(--headerheghit);
    padding: 12px 24px;
    font-size: 15px;
}

#nav>li:hover>a {
    color: #000;
    background-color: #ccc;

}

.nav-icon {
    font-size: 10px;
}

#nav>li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    position: absolute;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#nav .subnav li a {
    text-decoration: none;
    line-height: 36px;
    padding: 0px 16px;
    font-size: 15px;
    display: block;
}

#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#search-icon {
    float: right;
    line-height: var(--headerheghit);
    padding: 0 20px;
}

#header>#search-icon>a {
    text-decoration: none;
}

#header .search {
    color: aliceblue;
    font-weight: bold;
}

#search-icon:hover {
    background-color: red;
    cursor: pointer;
}

#slider {
    margin-top: 46px;
    background-color: #333;
    min-height: 500px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover;
    background-repeat: no-repeat;
    position: relative;

}

.text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: aliceblue;
}

.text-header {
    margin: 15px;
    font-weight: 50%;
}

.text-discristion {
    margin-top: 15px;
}

#content {}

.session-content {
    min-width: 45%;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 0 0;
    box-sizing: content-box;
}

.session-header {
    text-align: center;
    padding: 0 0 16px 0;
    letter-spacing: 4px;
}

.session-sologan {
    text-align: center;
    font-style: italic;
    padding: 0 0 16px 0;
    font-size: 14px;
    opacity: 0.6;
}

#about {
    line-height: 1.6;
    text-align: justify;
}

.member-list {
    margin-top: 36px;
}

.member-item {
    float: left;
    width: 33.333333%;
    text-align: center;
}

.member-name {
    padding: 0 0 16px 0;
}

.member-avatar {
    padding: 15px 0 0 0;
    border-radius: 4px;
    text-align: center;
    width: 80%;

}

.tour {
    background-color: #000;
    margin-top: 64px;
}

.tickits-list {
    background-color: #fff;
}

.tickits-list>li {
    border-bottom: 1px solid #ddd;
    padding: 12px 0 12px 10px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.tickits-list .sold-out {
    padding: 2px 10px;
    background-color: red;
    color: white;
    margin-left: 16px;
}

.tickits-list .quantity {
    float: right;
    width: 24px;
    color: #fff;
    border-radius: 50%;
    height: 24px;
    background-color: #000;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
    margin-right: 10px;
}

.show {
    min-width: 46%;
    max-width: 46%;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding-bottom: 80px;
    padding-top: 64px;
}

.show-info {
    float: left;
    margin-top: 24px;
    width: 33.33333%;
    margin: 0 1% 0 1%;
    background-color: #fff;
}

.show-img {
    width: 100%;
}

.show .show-img:hover {
    opacity: 0.6;
}

.show-header {
    padding: 16px 0 8px 16px;
}

.show-time {
    padding: 12px 0 8px 16px;
    color: rgb(82, 82, 82);
}

.show-detail {
    padding: 12px 0 8px 16px;
}

.btn-tickit {
    background-color: #000;
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    width: 45%;
    text-align: center;
    padding: 12px 2px;
    margin-left: 12px;
    border: none;
}

.btn-tickit:hover {
    color: black;
    background-color: #ddd;
    cursor: pointer;
}

.contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    background-color: #ffffff;
}

.contact-info {
    float: left;
    width: 50%;
    height: 150px;
    margin-top: 16px;
    position: relative;
}

.icon-contac {
    font-size: 18px;
    color: #000;
    padding: 0 16px 0 0;
}

.text-contact {
    font-size: 18px;
    color: #000;
    padding: 4px 0 6px 0;
}

.input-nameemail {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    width: 45%;
    margin-top: 4px;
    margin-left: 3%;
}

.input-mess {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    width: 94%;
    margin-top: 4px;
    margin-left: 3%;
}

.contact-send {
    height: 20%;
    margin-bottom: 8px;
    width: 20%;
    margin-top: 8px;
    margin-left: 3%;
    background-color: #000000;
    border: none;
    color: #fff;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 3%;
}

.contact-send:hover {
    background-color: #ccc;
    color: #000;
}

.map {
    margin-top: 250px;
}

.img-map {
    filter: grayscale(50%);
    width: 100%;
}

#footer {
    height: 200px;
}

.footer-place {
    min-width: 45%;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 52px 0 0 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.powered-web {
    font-size: 16px;
    padding: 12px 0 0 0;
}

.footer-style-font {
    padding: 0 8px 0 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.text-decora {
    text-decoration: underline;
    font-size: 16px;
    padding: 12px 0 0 2px;
}

.link-icon {
    text-decoration: none;
}

.footer-style-font :hover {
    color: rgba(0, 0, 0, 0.5);
}

.link-fb {
    color: blue;
}

.model-buytickit {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    animation: model-buyTickit-frame ease .3s;
}

.open {
    display: flex;
}

.wrapper {
    height: 70%;
    width: 45%;
    min-width: calc(45%-36px);
}

.model-header {
    position: relative;
    background-color: #009688;
    height: 20%;
    width: 100%;

}

.model-header .close-btn {
    position: absolute;
    right: 0;
    padding: 10px 10px;
}

.close-btn:hover {
    background-color: #ddd;
}

.header-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tichkit-text {
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 400;
}

.model-body {
    height: 35%;
    width: 100%;
    background-color: #fff;
}

.label-input {
    padding: 16px 0 4px 24px;
}

.model-input {
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    width: 94%;
    margin-top: 4px;
    margin-left: 3%;
}

.model-pay {
    height: 20%;
    margin-bottom: 8px;
    width: 94%;
    margin-top: 8px;
    margin-left: 3%;
    background-color: #009688;
    border: none;
    color: #fff;
    font-size: 16px;
}

.model-footer {
    height: 10%;
    width: 100%;
    background-color: #fff;
    position: relative;
}

#model-help {
    position: absolute;
    right: 3%;

}

#help {
    text-decoration: none;
    color: blue;
}


@keyframes model-buyTickit-frame {
    from {
        transform: translateY(-140px);
    }

    to {
        transform: translateY(0px);
    }

}


/* Responsive */
/* Table */
@media only screen and (max-width:63.9375em) and (min-width: 46.25em) {
    .session-content {
        min-width: 95%;
    }

    .show {
        min-width: 95%;
    }
}


/* Mobile */
@media only screen and (max-width: 46.1875em) {
    .session-content {
        min-width: 95%;
    }

    .member-item {
        float: none;
        width: 100%;
    }

    .member-avatar {
        width: 60%;
        padding: 0.2em 0 3em 0;
    }

    .member-name {
        padding: 0 0 0.1em 0;
    }

    .show {
        width: 95%;
        max-width: 95%;
        display: block;
    }

    .show-info {
        float: none;
        width: 100%;
        margin-bottom: 1em;
    }
    .show-header{
        padding: 1em 0 8px 0.25em;
    }
    .show-time{
     padding: 1em 0 8px 0.25em;
    }
    .show-detail{
        padding: 1em 0 8px 0.25em;
    }
    .btn-tickit{
        margin-left: 0.1875em;
    }
}